* {
    padding: 0px;
    margin: 0px;
}

/* navbar section */
#navbar::before {
    content: " ";
    background-color: rgb(115, 111, 104);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
    top: 0px;


}

#navbar {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;

}

#logo img {
    height: 60px;
    width: 60px;
    margin: 1px 25px 1px 7px;
    border-radius: 50px;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.5rem;
}

#navbar ul li a {
    color: white;
    display: block;
    margin: 5px;
    text-decoration: none;
    padding: 0px 40px;
    border-radius: 20px;
    cursor: pointer;
    /* text-wrap: nowrap; */
}

#navbar ul li a:hover {
    color: black;
    background-color: rgb(233, 220, 220);
}

/* Home section */
#home {
    display: flex;
    flex-direction: column;
    padding: 5px 30px;
    justify-content: center;
    align-items: center;
    height: 471px;
}

#home::before {
    content: " ";
    position: absolute;
    background: url('home.jpg')no-repeat center center/cover;
    height: 65%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

#home h1 {
    color: white;
    text-align: center;
}

#home p {
    color: white;
    text-align: center;
    font-size: 2.2rem;
    font-family: 'Times New Roman', Times, serif;
}

/* search bar */
#search {
    padding: 5px 20px;
    width: 300px;
    border: 3px solid black;
    color: rgb(26, 21, 21);
    border-radius: 10px;
    margin: 10px;
    font-size: 0.9rem;
    cursor: text;
}

#search1 {
    display: flex;
}

/* category by shop */
#services {
    display: flex;
    margin: 40px 23px;
    height: 350PX;
    justify-content: space-between;
}

#services .box {
    border: 3px solid red;
    padding: 10px;
    margin: 0px 8px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(241, 236, 230);

}

#services .box img {
    height: 150px;
    display: flex;
    margin: auto;
    border-radius: 100px;
    border: 2px solid rgb(121, 98, 7);
    box-shadow: 5px 5px 4px #59616b75;
    transition: all 0.4s ease-in-out 0s;

}

#services .box img:hover {
    box-shadow: 4px solid rgb(121, 98, 7);
    transform: scale(1.08);

}

a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* utility class */
h1 {
    font-family: 'Roboto', sans-serif;
}

.h-primary {
    font-size: 3.8rem;
    margin: 12px;

}

.h-primary1 {
    /*category */
    font-size: 2.8rem;
    margin: 20px 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.h-primary2 {
    /* our client */
    font-size: 2.8rem;
    padding-top: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.h-secondary {
    font-size: 1.9rem;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.6rem;
}

/* view all */
#services .box1 {
    padding: 20px;
    margin: 127px 7px;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;

}

#services .box1:hover {
    background-color: rgb(241, 236, 230);
    transform: scale(1.2);
}

#services .box1 .h1-secondary {
    display: block;
    text-align: center;

}

/* client section */
#client-section {
    height: 285px;
}


#client-section::before {
    content: "";
    position: absolute;
    background: url('clientt.jpg')no-repeat center center/cover;
    width: 100%;
    height: 250px;
    z-index: -1;
    opacity: 0.5;
}

#client {
    display: flex;
    text-align: center;
    justify-content: space-evenly;

}

#client img {
    height: 100px;
    margin: 0px 15px;
}

/* footer sections */
#details {
    display: flex;
    height: 350px;
    padding-top: 40px;
    background-color: black;
    color: white;
    justify-content: center;
}

#details .footer1 {
    padding: 0px 250px 0px 0px;

}

.f-text {
    padding: 8px;
    list-style: none;
    color: white;
    font-size: 0.8rem;
    text-wrap: nowrap;
}

.f-text:hover {
    text-decoration: underline;
}

h4 {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 8px;
    text-wrap: nowrap;

}